<script type="text/ng-template" id="nav-bar.html">
    <div template="nav-bar">
         <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--INSERT LOGO HERE -->
                    <!--<a ui-sref="home" class="pull-left" ><img src="/public/src/s" id="logo"></a>-->
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Create new ToDo</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</script>